.loader {
    display: inline-block;
    width: 40px;
    height: 40px;
    border: 3px solid rgba(0,0,255,.1);
    border-radius: 50%;
    border-top-color: blue;
    animation: spin 1s ease-in-out infinite;
    margin: 10px;
    -webkit-animation: spin 1s ease-in-out infinite;

    @keyframes spin {
        to { -webkit-transform: rotate(360deg); }
    }
}